*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html, body {
    font-size: 19px;
    background-color: #f56f31;
    text-align: justify;
}
h2, h3 {
    padding: 25px;
    text-align: center;
}
p, li{
    padding: 10px;
    list-style: none;
}
.img1 {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    height: 250px;    
    margin: 20px;
}
a:link, a:active {
    text-decoration: none;
    color: rgb(243, 96, 170);
}